.infobox {
    float: right;
    width: 280px;
    margin: 0 0 1em 1em;
    padding: 1em;
    border: 1px solid #2F2F30;
    border-radius: 4px;
    background: #171719;
  }
  
  .dark .infobox {
    border-color: #2F2F30;
    background: #171719;
  }

  